*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    color:orange;
}
body{
    background-color: olive;
}
@media screen  and(max-width: 900px)
{
    body{
        background-color: red;
    }

}
@media screen and(max-width: 700px)
{
    body{
        background-color: hotpink;
    }

}
@media screen and(max-width: 500px)
{
    body{
        background-color: rgb(18, 0, 179);
    }

}

